<div class="dialog-container">

    <div class="header">
        <h1 class="colored name">{{data.team.name}}</h1>
        <div class="close" (click)="exit()"></div>
    </div>
      
    <div class="content" mat-dialog-content>
        <div class="line"><strong>Captain:</strong> {{data.team.captain.nick}}</div>
        <div><strong>Players:</strong> </div>
        <ul class="players">
            <div *ngFor="let player of data.team.players">
                <li>{{player.nick}}</li>
            </div>
        </ul>
        <div class="alert alert-success" *ngIf="data.team.isCaptain">
            <strong>Invite code: </strong>{{data.team.joinCode}}
        </div>
    </div>   
</div>