<div class="landing-container">
    <app-landing-navbar></app-landing-navbar>
    <div class="background"></div>
    <div class="landing-item">
        <div class="container">
            <div class="row justify-content-between" >
                <div class="col-lg-5" >                   
                    <h2 [@slideRight]><span>Tournaments</span> redefined</h2>
                    <p [@slideRight]>The ultimate tool to create, manage and organize esports tournaments. Forget endless pages of notes, spreadsheets and calculations. Enter the new era of tournament management now.</p>
                    <a routerLink="/register" class="site-btn" [@slideDown]>Register now</a>                   
                </div>
                <div class="col-lg-6 landing-img" [@slideUp]>
                </div>
            </div>
        </div>
    </div>    
</div>