.randomizer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1050px;
    min-width: 500px;
    height: auto;
    background-color: white;
}

.input-container >* {
    width: 500px;
    margin: 10px;
}

.options {
    background: url(/assets/img/options.png);
    background-size: cover;
    width: 60px;
    height: 60px;
}