<div class="navbar">
    <a routerLink="/home" class="navbar-item item-left">
        <img src="" alt="Logo">
    </a>
    <a routerLink="/" class="navbar-item" >My tournaments</a> 
    <a routerLink="/" class="navbar-item" >Browse</a> 
    <a routerLink="/" class="navbar-item" >Randomizer</a> 
    <div class="navbar-item item-right">
        <a routerLink="/" class="user-item">
            <div  class="account"><mat-icon>account_box</mat-icon> </div>
            <div> My account </div>
        </a> 
        <a routerLink="/" class="user-item logout"> Logout </a>
    </div>
    
</div>