.header {
    display: flex;
    justify-content: space-between;
}

.close {
    background-image: url(/assets/img/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: auto;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.dialog-container {
    min-width: 400px;
}

.dialog-button {
    max-width: 150px;
    min-width: 150px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}