@import '~ng-tournament-tree/styles/ngtt-single-elimination-styles';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
	height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #0a183d;
	min-width: 550px;
	font-size: 1.1rem;
}

a:hover,
a:focus, button:focus {
	text-decoration: none;
	outline: none;
}

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #fc0254;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
    background-color: #ce0045;
    color: #fff;
}

.colored {
    color: #fc0254;
}

.colored-btn {
	background-color: #fc0254;
	color: white;
}

.alert {
	text-align: center;
}

.ngtt-se__container {
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,0);
}

.ngtt-se__bracket-wrapper{	
	max-width: 100%;
}
