.main-container {
    height: 100%;
    overflow: hidden;
}

.item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
	color: #fc0254;
	font-size: 150px;
	margin-bottom: 25px;
	line-height: 0.9;
	position: relative;
    text-align: center;
}

h2 {
	color: #ffffff;
	font-size: 60px;
	margin-left: 25px;
	line-height: 0.9;
	position: relative;
    text-align: center;
}

@media(max-width: 930px) {
    .item {
        flex-direction: column;
    }
}