<div class="main-container">
    <mat-form-field class="nick" appearance="outline">
        <mat-label>Player</mat-label>
        <input matInput placeholder="Nick" required>
        <mat-error *ngIf="">Required</mat-error>
    </mat-form-field>
    <div class="position">
        <mat-radio-group class="radio-group">
            <mat-radio-button value="1" checked>Random</mat-radio-button>
            <mat-radio-button value="2">Avoid position</mat-radio-button>
            <mat-radio-button value="3">Force position</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-select [(value)]="options[0].value">
              <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
</div>